* {
    color: #F1F1F1;
    background-color: #15151a;
    font-family: Verdana;
    font-size: 35px;
}
h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_a {
    display: block;
    width: fit-content;
    margin: 0 auto;
    text-decoration: none;
    text-align: center;
}
#lokal:hover{
    color: rgb(0, 119, 255);
}
#splet:hover{
    color: rgb(238, 34, 34);
}
#main_c {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #1ca3ec;
    grid-template-columns: repeat(11, 1fr);
    max-width: 800px;
    margin-left: 10%;
    margin-top: 1%;
}
.container div {
    background-color: rgb(0, 119, 255);
    color: WHITE;
    border: 1px solid #FFFFFF40;
    font-size: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
}
#back {
    margin: 20px;
    padding-top: 20px;
    text-decoration: none;
}
#back:hover{
    color: #c2c2c2;
}